<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tela de Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
<h1 style="font-size: 60px;">GeoEpi</h1>
 <div style="text-align: center; margin-bottom: 20px;">
    <img src="{{ url_for('static', filename='logo_geoepi.png') }}" 
         alt="logo" 
         style="width: 250px; height: auto;">
</div>
<div class="login-container">
    <h2>Entrar</h2>
    <form id="loginForm">
        <div class="input-field">
            <label for="login"></label>
            <input type="text" id="login" placeholder="Login" required>
        </div>
        <div class="input-field">
            <label for="password"></label>
            <input type="password" id="password" placeholder="Senha" required>
        </div>
        <button type="submit" class="login-btn">Entrar</button>
        <p id="errorMsg" class="error-message">Login ou senha incorretos!</p>
    </form>
</div>

  <script>
    // Login e senha corretos
    const loginCorreto = "admin";
    const senhaCorreta = "1234";

    // Captura o formulário
    const form = document.getElementById("loginForm");
    const erro = document.getElementById("errorMsg");

    form.addEventListener("submit", function(e) {
      e.preventDefault(); // impede o envio automático

      const login = document.getElementById("login").value;
      const senha = document.getElementById("password").value;

      // Verifica login e senha
      if (login === loginCorreto && senha === senhaCorreta) {
        // Redireciona para outra página
        window.location.href = "/main";
      } else {
        // Mostra mensagem de erro
        erro.style.display = "block";
      }
    });

    function atualizarGraficos() {
      //
      document.getElementById("logo").src = "/grafico/logo_geoepi?rand=" + Math.random();
    }
  </script>
</body>
</html>
